
* {
  font-family: "Roboto", sans-serif;
}


body::-webkit-scrollbar
{
  display: none;  
}

.navbar-brand {
  font-family: "Tilt Prism", cursive;
}

.card {
  width: 18rem;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-btn {
  margin-top: auto;
}

#img-preview {
  height: 200px;
}
